*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    max-width:1140px;
    margin: 0 auto;
}
.main-box{
    width: 100%;
    height: 200px;
    padding: 15px;
    background-color: aqua;
    display: flex;
    height: 400px;
    flex-wrap: wrap;
}
.child{
    width: 250px;
    height: 150px;
    border: 2px solid black;
    margin: 10px;
    color:red;
    font-size: 30px;
    background-color:cornflowerblue;
    text-align: center;
}
.align-self{
    /* align-self:center; */
    align-self: flex-end ;
    /* align-self: flex-start; */
    /* align-self:stretch; */
}
.flex-grow{
    flex-grow: 1;
}
.child:nth-child(2){
    flex-grow: 2;
}
.flex-srink{
    flex-shrink: 2;
}
.child:nth-child(4){
    order: -4;
}
.child:nth-child(2){
    order: 2;
}