*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
img{
    max-width: 100%;
}
.box1{
    width: 500px;
    height: 500px;
    background-color: aqua;
    margin: 50px auto;
    overflow: hidden;
    transition: all 0.5s;
    border-radius: 20px;
}
.box1 img{
    height: 100%;
    object-fit: cover; /* object-fit: contain; */
    object-position: right;/* object-position: left; */
    transition: all 0.5s;
}
.box1:hover img{
    transform: scalex(2);
    /* transform: rotatey(180deg); */
    /* transform: skew(20deg); */
    /* transform: translate(50px); */

}

.box1:hover{
    /* transform: scalex(2); */
    /* transform: rotate(60deg); */
    /* transform: skew(20deg); */
    transform: translate(150px);
}

.box2{
    width: 500px;
    height: 500px;
    background-color: aqua;
    margin: 50px auto;
    overflow: hidden;
    transition: all 0.5s;
    border-radius: 20px;
}
.box2 img{
    height: 100%;
    object-fit: cover; /* object-fit: contain; */
    object-position: right;/* object-position: left; */
    transition: all 0.5s;
}
.box2:hover img{
    /* transform: scalex(2); */
    /* transform: rotatey(180deg); */
    transform: skewy(20deg);
    /* transform: translatex(50px); */

}

.box2:hover{
    /* transform: scalex(2); */
    transform: rotate(360deg);
    /* transform: skewy(20deg); */
    /* transform: translate(50px); */
}
.box3{
    width: 500px;
    height: 500px;
    background-color: aqua;
    margin: 50px auto;
    overflow: hidden;
    transition: all 0.5s;
    border-radius: 20px;
}
.box3 img{
    height: 100%;
    object-fit: cover; /* object-fit: contain; */
    object-position: right;/* object-position: left; */
    transition: all 0.5s;
}
.box3:hover img{
    /* transform: scalex(2); */
    transform: rotatex(180deg);
    /* transform: skew(20deg); */
    /* transform: translate(50px); */

}

.box3:hover{
    /* transform: scalex(2); */
    /* transform: rotate(60deg); */
    transform: skew(20deg);
    /* transform: translate(50px); */
}
.box4{
    width: 500px;
    height: 500px;
    background-color: aqua;
    margin: 50px auto;
    overflow: hidden;
    transition: all 0.5s;
    border-radius: 20px;
}
.box4 img{
    height: 100%;
    object-fit: cover; /* object-fit: contain; */
    object-position: right;/* object-position: left; */
    transition: all 0.5s;
}
.box4:hover img{
    /* transform: scaley(2); */
    /* transform: rotatex(180deg); */
    /* transform: skew(20deg); */
    transform: translatex(50px);

}

.box4:hover{
    /* transform: scalex(2); */
    /* transform: rotate(60deg); */
    /* transform: skew(20deg); */
    transform: translate(50px,50px);
}
.box5{
    width: 500px;
    height: 500px;
    background-color: aqua;
    margin: 50px auto;
    overflow: hidden;
    transition: all 0.5s;
    border-radius: 20px;
}
.box5 img{
    height: 100%;
    object-fit: cover; /* object-fit: contain; */
    object-position: right;/* object-position: left; */
    transition: all 0.5s;
}
.box5:hover img{
    /* transform: scalex(2); */
    transform: rotate(360deg);
    /* transform: skew(20deg); */
    /* transform: translate(50px); */

}

.box5:hover{
    transform: scalex(2);
    /* transform: rotate(60deg); */
    /* transform: skew(20deg); */
    /* transform: translate(50px); */
}